<!DOCTYPE html>
<html>
    <body>
        <h1>Create Alert</h1>
        <form method="POST">
            {% csrf_token %}
            <label>Ticker</label>

            <input
            type="text"
            name="ticker"
            value="{{ alert.ticker }}">

            <br><br>

            <label>Asset Type</label>

            <select name="asset_type">
            <option value="stock"
            {% if alert.asset_type == "stock" %}selected{% endif %}>
                Stock
            </option>
            <option value="crypto"
            {% if alert.asset_type == "crypto" %}selected{% endif %}>
                Crypto
            </option>
            <option value="gold"
            {% if alert.asset_type == "gold" %}selected{% endif %}>
                Gold
            </option>
            <option value="forex"
            {% if alert.asset_type == "forex" %}selected{% endif %}>
                Forex
            </option>
            </select>
            <br><br>
            <label>Condition</label>
            <select name="condition">
                <option value="below"
                {% if alert.condition == "below" %}selected{% endif %}>
                    Below
                </option>
                <option value="above"
                {% if alert.condition == "above" %}selected{% endif %}>
                    Above
                </option>
            </select>
            <br><br>
            <label>Target Price</label>

            <input 
            type="number"
            step="0.01"
            name="target_price"
            value="{{ alert.target_price }}">

            <br><br>

            <button type="submit">
                Save Alert
            </button>
        </form>
    </body>
</html>