<!DOCTYPE html>
<html>
    <head>
        <title>Asset Tracker</title>
    </head>
    <body>
        <div>
            <h1>Asset Tracker</h1>
            <h2>Welcome {{request.user}}</h2>
            <a href="/logout/">
                <button>Logout</button>
            </a>
            <h2>Track prices automatically</h2>

            <ul>
                <li>Stocks</li>
                <li>Crypto</li>
                <li>Gold</li>
                <li>Forex</li>
            </ul>

            <a href="/login/">
                <button>Login</button>
            </a>
            <a href="/register/">
                <button>Register</button>
            </a>
        </div>
    </body>
</html>