<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
            <h1>Dashboard</h1>
            <h2>Welcome {{request.user}}</h2>
            <hr>
            <h3>My Alerts</h3>
            <a href="/alerts/create/">
                <button>
                    + Create Alert
                </button>
            </a>
            <ul>
                {% for alert in alerts %}
                <li>
                    {{ alert.ticker }}
                    -
                    {{ alert.target_price }}
                </li>
                {% empty %}
                <li>
                    No Alerts
                </li>
                {% endfor %}
            </ul>
            <a href="/logout/">
                <button>Logout</button>
            </a>

    </body>
</html>