{% extends "base.html" %}
{% block content %}
            <h1 class="display-4 fw-bold">
                Asset Tracker
            </h1>
            <p class="lead text-secondary">
                Track your favourite assets automatically.
            </p>
            <a href="/login/" class="btn btn-primary">
                Login
            </a>
            <a href="/register/" class="btn btn-success">
                Register
            </a>

            <div class="card mt-5">
                <div class="card-body">
                    <h3>Features</h3>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Track Stocks</li>
                        <li class="list-group-item">Track Cypto</li>
                        <li class="list-group-item">Track Gold</li>
                        <li class="list-group-item">Track Forex</li>
                        <li class="list-group-item">Personal Alerts</li>
                    </ul>
                </div>
            </div>
{% endblock %}